/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

header {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo-booki{
    padding: 30px 50px;
}
.logo-booki img {
    height: 19px; 
}
nav {
    font-size: 16px;
    height: 35px;
    display: flex;
    gap: 68px;
    padding: 0 25px;
}


nav a{
    display: flex;
    align-items: end;
    height: 100%;
    border-top: 2px solid transparent;
}
nav a:hover{
    border-top : 2px solid blue;
    cursor: pointer;
    color:#0065FC;
}
main {

    display: flex;
    flex-direction: column;
    gap: 35px;
}
.main-container {

    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing:border-box;

}

.section-title {
    margin: 0;
    font-size: 22px;
}


.card img {
    object-fit: cover;
}


.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
h1 {
    font-size: 22px;
    margin: 0;
}
h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}
h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}
p {
    margin:0;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: black;
}

/****** research and Filter ***********/
.search-function {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.title-info {
    display:flex;
    flex-direction: column;
    gap: 8px;
    margin: 0px;
    
}
.title-info p {
    font-size: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 377px;
    height: 50px;
    background-color: rgba(242, 242, 242, 1);
    border-radius: 15px 15px 15px 15px;
}
.search-bar i {
    display: flex;
    min-width: 50px;
    justify-content: center;
    align-items: center;
    
}

.search-bar:hover #location-icone{
    animation: bounce 0.35s ease infinite alternate;
}
@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-4px);}
}


.search-bar input {
    border: none;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    min-width: 0;
    height: 50px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    flex: 1;

}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius:  0 15px 15px 0;
    padding: 15px 16px;
    border: none;
    background-color: #0065FC;
    color: white;

}
.search-filters {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap:15px;
}
.search-filters p {
    font-size: 18px;
}
.all-filter-buttons { 
    display: flex;
    gap: 15px;

}
.filter-button {
    display: flex;
    align-items: center;
    font-size: 17px;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    background-color: white;
    gap: 10px;
}
.filter-button i{
    transition: transform 0.4s ease-in-out;
}
.filter-button:hover i {
    transform: rotate(360deg);
}
.filter-button:hover {
    background-color: rgba(222, 235, 255, 1);
}
.search-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#search-button-n°2 {
    display: none;
}

/****** Accommodations And popular ***********/
.accommodations-and-popular {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.accommodations-and-popular section {

    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;

}
/****** Accommodations ***********/
.accommodations {
    background-color: rgba(242, 242, 242, 1);
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 65%;

}

.accommodations-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 30px;
    padding-bottom: 15px;

 }
.accommodations-cards .card{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: white;
    gap: 4px;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 100%;
}

.accommodations-card-content{
    display: flex;
    flex-direction: column;

    gap:8px;
    padding: 0 15px 0 15px;
}
.card-txt{
    display: flex;
    flex-direction: column;
    gap:8px
}
.image-card img{
    width: 100%;
    height: 124px;
    object-fit: cover;
}
.accommodations-cards img {
    border-radius: 20px 20px 0 0 ;
}
.show-more a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 700;
}



/****** popular ***********/
.popular {
    background-color: rgba(242, 242, 242, 1);
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {

    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 33px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}


/****** Activités ******/


.activities {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
.activities-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    gap: 30px;

}
.activities-cards .card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10); 
}
.activities-cards .card img {
    object-fit: cover;
    
}
.activities-cards .card h3 {
    display: flex;
    align-items: center;
    padding: 20px 19px;


}
/****** Footer *****/

footer {
    background-color: #F2F2F2 ;
    display: flex;
}

footer a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}
.footer-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap:15px;
}
footer section {
    flex:1;
    padding: 20px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
@media (min-width: 1025px) {
    .activities {
        height: 100%;
    }
    .activities-cards .card{
        height: 100%;
    }
    .activities-cards .card img {
        height: 86.5%;

    }
    .activities-cards .card h3 {
        height: 13.5%;
    }
    
}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .accommodations-and-popular {
        flex-direction: column;
    }
    .accommodations {
        width: 100%;
    }

    .popular {
        width: 100%;
        margin-top: 50px;
    }

    .popular-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        gap:20px

    }

    .popular-cards .card {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .popular-cards .card-title {
        font-size: 14px;
    }

    .popular-cards .card-subtitle {
        font-size: 13px;
    }

    .activities {
        height: 390px;
    }
    .activities-cards .card {
        height: 270px;
    }
    .activities-cards .card img {
        height: 200px;
        
    }
    .activities-cards .card h3 {
        height: 70px;
    
    
    }
}   

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        width: 100%;
        margin: 0;
    }
    
    .main-container {

        width: 100%;
        padding: 0 0;
        box-sizing:border-box;
    
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    .logo-booki {
        padding: 30px 30px;
    }
    .logo-booki a {
        justify-content: center;
        align-items: center;
    }
    nav {
        width: 100%;
        display: flex;
        gap: 0px;
        justify-content: center;
        padding: 0;
    }
    nav a {
        flex: 1;
        justify-content: center;
        border-bottom: 2px solid transparent;
        padding: 15px;

    }
    nav a:hover {
        border-top: none;
        border-bottom: 2px solid rgba(0, 101, 252, 1);
        cursor: pointer;
        color:#0065FC;
    } 
    .search-function {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:  0px 20px;
    }
    .search-bar {
        width: 100%;
        max-width: 379px;
        
    }
    #search-button-n°1 {
        display: none;
    }
    .test {
        border-top: 1px solid rgba(242, 242, 242, 1);
        border-bottom: 1px solid rgba(242, 242, 242, 1);
        border-top-right-radius: 15px ;
        border-bottom-right-radius: 15px;
        background-color: white;
    }
    #search-button-n°2 {
        display: flex;
        justify-content: center;
        border-radius: 15px;
        width: 49px;
    }
    .search-filters {
        flex-direction: column;
        align-items: start;
    }
    .all-filter-buttons {

        display: grid;
        grid-template-columns: 50% 50%;

    }
    .filter-button {
        font-size: 14px;
        width: 100%;
    }

    .accommodations-and-popular {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
    }
    
    .accommodations-and-popular section  {
        border-radius: 0;
        padding: 30px 20px;

    }
    .popular {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        gap: 15px;
    }
    .popular-cards {
        gap: 15px;
        display: flex;
        flex-direction: column;
    }
    .popular-cards .card {
        margin: 0;
    }
    .accommodations {
        gap: 15px;
        padding: 0;
        background-color: white;
    }
    .accommodations-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .activities {
        height: auto;
    }
    .activities-cards {
        display: flex;
        flex-direction: column;
        gap:15px;
    }
    footer {
        flex-direction: column;
        padding: 30px;
        gap: 50px;
    }
    footer section {
        padding: 0;
    }
    /* ... */
}